/* ---------------------  Colors ---*/

.bg-color-state-gray {
    background-color: #6b717e;
}

.bg-color-lavender-pink {
    background-color: #efaac4;
}

.bg-color-pink {
    background-color: #ffc4d1;
}

.bg-color-misty-rose {
    background-color: #ffe8e1;
}

.bg-color-alabaster {
    background-color: #d4dccd;
}

/* ---------------------  Containers ---*/

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.column {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 0 auto;
}


/* ---------------------  Images and Display ---*/

header > div {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 250px;
    height: auto;
    display: inline-block;
    margin: 0 auto;
}

/* ---------------------  Global ---*/

body {
    background-color: #ffe8e1;
    font-family: 'Amatic SC', sans-serif;
}

nav {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.nav-ul {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    align-items: baseline;
    border-radius: 10px;
    list-style-type: none;
    padding: 0;
}

.list-item a {
    text-decoration: none;
    color: #6b717e;
    font-size: 26px;
    letter-spacing: 2px;
}

.list-item a:hover {
    text-decoration: underline;
}

.card {
    display: flex;
    flex: 1 1 auto;
    border: 1px solid #6b717e;
    border-radius: 8%;
    flex-flow: column;
    min-width: 140px;
    min-height: 140px;
    margin: 10px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

p i{
    font-size: 40px;
    color: #efaac4;
}

h2 {
    color: #6b717e;
}

.sound-toggler {
    float: right;
    margin: 25px;
    color: #efaac4;
}

.sound-off {
    display: none;
}