/* ---------------------  Global ---*/

body {
    background-color: #ffe8e1;
    font-family: 'Amatic SC', sans-serif;
}

h2 {
    color: #6b717e;
}

.active {
    text-decoration: overline;
    font-weight: 700;
}

.active:hover {
    text-decoration: overline #efaac4;
}

.center {
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.change-cursor {
    cursor: wait;
}

.no-display {
    display: none;
}

/* ---------------------  Colors ---*/

.bg-color-state-gray {
    background-color: #6b717e;
}

.bg-color-lavender-pink {
    background-color: #efaac4;
}

.bg-color-pink {
    background-color: #ffc4d1;
}

.bg-color-misty-rose {
    background-color: #ffe8e1;
}

.bg-color-alabaster {
    background-color: #d4dccd;
}

/* ---------------------  Containers ---*/

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    text-align: center;
    opacity: 0.5;
}

.column {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 0 auto;
}

/* --------------------- Header ---*/

header>div {
    display: flex;
}

.logo {
    width: 250px;
    height: auto;
    display: inline-block;
    margin: 0 auto;
    padding-left: 7%;
}

nav {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.nav-ul {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    align-items: baseline;
    border-radius: 10px;
    list-style-type: none;
    padding: 0;
}

.list-item a {
    text-decoration: none;
    color: #6b717e;
    font-size: 26px;
    letter-spacing: 2px;
}

.list-item a:hover {
    color: #efaac4
}

/* ------------------- Sound toggler */

.sound-toggler {
    float: right;
    margin: 25px;
    color: #efaac4;
}

.sound-toggler div {
    border-radius: 50%;
    background-color: #d4dccd;
    padding: 5px 8.25px;
}

.sound-toggler div:hover {
    background-color: #6b717e;

}

.sound-off {
    display: inline-block;
    font-size: 26px;
}

.sound-on {
    display: none;
    font-size: 26px;
}


/* ------------------- flip Cards -- https: //www.w3schools.com/howto/howto_css_flip_card.asp */

.flip-card {
    position: relative;
    background-color: transparent;
    width: 140px;
    height: 140px;
    border: 1px solid #f1f1f1;
    border-radius: 8%;
    margin: 10px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip {    /* --- to add this onclick method on my js file*/
  transform: rotateY(180deg);
}

.selectCorrectly {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    border: 1px solid #6b717e;
    border-radius: 8%;
    background-color: #d4dccd;
}

.flip-card-front i {
    position: absolute;
}

.flip-card-back {
    background-color: #efaac4;
    transform: rotateY(180deg);
    border-radius: 8%;
    overflow: hidden;
    width: 140px;
    height: 140px;
}

.flip-card-back img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: fill;
    margin: 0;
    object-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

p i{
    font-size: 40px;
    color: #efaac4;
}

#start-game {
    position: absolute;
    top: 50%;
    width: auto;
    height: auto;
    padding: 10px;
    font-size: 46px;
    font-weight: 700;
    font-family: 'Amatic SC', sans-serif;
    border-radius: 20px;
    background-color: #EDE07E;
    color: #6b717e;
    margin-bottom: 50px;
}

#start-game:hover {
    background-color: #efaac4;
}

/* --------   Progress Bar -- By https: //codepen.io/manz/pen/GRxJgZZ  */


/* ------- Media Quesries ---*/

@media only screen and (max-width: 600px) {
    .logo {
        width: 200px;
    }

    .list-item a {
        font-size: 20px;
    }

    .sound-on, .sound-off {
        font-size: 20px;
    }

    .flex-container {
        flex-direction: column;
    }

    .column {
        flex-direction: row;
    }

    .column div {
        margin: 0 30px;
    }

    .column h2,
    .column p {
        display: inline-block;
        margin: 0 8px;
    }

    .flip-card {
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width: 360px) {
    .flip-card {
            width: 80px;
            height: 80px;
        }

    .logo {
        width: 140px;
        padding: 0;
    }

    header>div {
        display: block;
    }
}

@media only screen and (min-width: 1000px) {
    .flip-card {
            background-color: transparent;
            width: 180px;
            height: 180px;
    }
    
    .flip-card-back {
            width: 180px;
            height: 180px;
    }
}